@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles index tree */
/* --- Common styles */
/* --- Nav styles */
/* -- Banner styles */
/* -- About styles */
/* -- Portfolio styles */
/* -- Workflow styles */
/* -- Services styles */
/* -- Packages styles */
/* -- Our team styles */
/* -- contact  styles */
/* -- Testimonial styles */
/* -- Blogs styles */
/* -- Footer styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #070f2b;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {

  background: #555;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  /* ============= common styles start =========== */
  .cb__section__gap {
    @apply px-[5%] pt-16 md:pt-24 md:px-[8%] lg:pt-32 lg:px-[6%] xl:pt-[160px] xl:px-[5.56%];
  }

  .cb__footer__space {
    @apply px-[3.5%] xl:px-[5.56%] py-24;
  }

  .cb__primary__bg {
    @apply bg-[#070F2B];
  }

  .cb__secondaray__bg {
    @apply bg-[#0F1A3D] dark:bg-[#d9d9d9];
  }

  .cb__border {
    @apply border-[#0F1A3D] rounded border-[1px];
  }

  .cb__btn__styles {
    @apply py-2 px-4 text-xs text-white dark:text-black/80 dark:hover:border-transparent dark:hover:bg-black/90 dark:hover:text-white md:py-2 md:px-8 hover:border-white/15 md:text-sm xl:text-base font-semibold font-albert transition-colors duration-1000 ease-in-out;
  }

  .cb__short__title {
    @apply text-xs md:text-sm xl:text-base font-poppins text-[#9290C3] dark:text-black/80 animate-pulse uppercase;
  }

  .cb__heading {
    @apply text-sm md:text-2xl lg:text-3xl xl:text-4xl text-white dark:text-black/80 dark:text-[#020202] font-bold font-poppins py-3 md:py-3 xl:py-5 ;
  }

  .cb__heading__des {
    @apply text-sm md:text-base xl:text-lg font-albert px-[5%] md:px-[9%] xl:px-[25%] lg:px-[15%] text-white dark:text-black/80 dark:text-black/80;
  }

  .cb__heading__des__left {
    @apply text-sm md:text-base xl:text-lg font-albert text-white dark:text-black/80 dark:text-black/80;
  }

  .cb__sectionHeader__left {
    @apply grid lg:grid-cols-2 items-center;
  }

  .cb__section__center {
    @apply flex place-content-center;
  }

  .cb__section__bottom {
    @apply md:pb-12 pb-7;
  }

  /* ============= common styles End =========== */

  /* --- Nav item styles  start */
  .cb__nav__gap {
    @apply px-[5%] pt-8  md:px-[8%]  md:pt-14 lg:px-[6%] xl:px-[5.56%];
  }

  .cb__nav__container {
    @apply flex justify-between items-center;
  }

  .cb__nav__logo {
    @apply sm:text-sm md:text-xl text-white dark:text-black/80 font-bold font-poppins;
  }

  .cb__nav__desktop {
    @apply lg:flex  lg:items-center lg:gap-5 xl:gap-8 hidden;
  }

  .cb__nav__desktopItem {
    @apply sm:text-sm md:text-base font-semibold font-poppins text-white/75 hover:text-white dark:text-black/80 transition-all duration-300 ease-in-out;
  }

  .cb__nav__toggole__icon {
    @apply cursor-pointer;
  }

  .cb__nav__toggleMenu {
    @apply lg:hidden flex items-center text-white dark:text-black/80;
  }

  .cb__nav__mobile {
    @apply lg:hidden py-8;
  }

  .cb__nav__mobile__wrapper {
    @apply flex items-center  gap-5 justify-center mt-4 space-y-2  lg:hidden;
  }

  .cb_nav__mobileItem {
    @apply block text-white dark:text-black/80 font-poppins text-lg mb-1;
  }

  /* --- Nav item styles  End */

  /* -- Banner styles start */


  .cb__banner__gap{
    @apply px-[5%] pt-16 md:pt-24 md:px-[8%] lg:pt-20 lg:px-[6%] xl:pt-[100px] xl:px-[5.56%]
  }

  .cb__banner__parent {
    @apply grid xl:grid-cols-2  items-center gap-6 overflow-hidden md:grid-cols-1
  }

  .cb__bnner__title {
    @apply text-2xl md:text-3xl lg:text-3xl xl:text-4xl 2xl:text-5xl mb-5 md:mb-5 lg:mb-8 2xl:mb-10 text-white dark:text-black/80 font-albert font-bold  
  }

  .cb__bnner__des {
    @apply text-sm md:text-sm text-white dark:text-black/80 font-poppins font-normal lg:mb-5 xl:mb-5 2xl:mb-10
  }

  .cb__banner__counter{
      @apply flex py-10 md:py-5 gap-x-10 md:gap-x-16 text-white/75 dark:text-black/80
  }

  .cb__banner__counter__child{
    @apply border-r border-white/40 pr-10 md:pr-16 
  }
  .cb__banner__counter__title{
    @apply  text-xl xl:text-2xl 2xl:text-3xl font-poppins font-semibold
  }
  .cb__banner__counter__des{
    @apply text-xs md:text-sm 2xl:text-base font-poppins py-2
  }

  .cb__banner__clinet__wrapper{
    @apply flex gap-5 md:mt-5 items-center text-white/80 dark:text-black/80
  }
  .cb__banner__client__child{
    @apply flex gap-5 items-center relative
  }

  .cb__banner__client__img {
    @apply rounded-full size-8 md:size-10 object-cover
  }

  .cb__banner__client__absoulate{
    @apply absolute left-1/2 top-1/2  transform -translate-x-1/2 -translate-y-1/2 w-4/12
  }

  .cb__banner__active__title{
    @apply text-lg font-poppins font-semibold
  }
  .cb__banner__active__des{
    @apply text-xs md:text-sm 2xl:text-base font-poppins
  }
  /* -- Banner styles end */

  /* -- About styles */

  .cb__about__container{
    @apply grid lg:grid-cols-2 gap-[5vw] justify-center items-center w-full
  }

  .cb__about__buttons{
    @apply flex items-center gap-5 md:py-8 py-5
  }


  .cb__about__paragraph {
    @apply text-sm md:text-base xl:text-lg font-albert text-white dark:text-black/80
  }

  .cb__about__footer__paragraph {
    @apply text-sm md:text-base xl:text-lg font-albert text-white dark:text-black/80 uppercase
  }
  /* -- Portfolio styles */



  /* -- Workflow styles */
  .cb__progress {
    @apply text-white dark:text-black/80 mt-10 md:flex items-center justify-between md:gap-12 border-[1px] border-[#FFFFFF1A] dark:border-black/50 rounded-md p-4 lg:p-16;
  }

  .cb__progress__content {
    @apply md:w-2/4;
  }

  .cb__progress__title {
    @apply md:text-2xl lg:text-4xl font-bold uppercase;
  }

  .cb__progress__description {
    @apply text-sm lg:text-[20px] my-4 lg:my-8 leading-7;
  }

  .cb__progress__btn {
    @apply flex items-center gap-1 cb__border px-4 lg:px-8 py-1 lg:py-3 uppercase text-sm md:text-base;
  }

  /* -- Services styles  start*/
  .cb__service__content {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 text-center justify-center items-center;
  }

  .cb__service__inner {
    @apply cb__border px-3 py-5 md:px-5 md:py-8 text-white/70 hover:text-white dark:text-black/80 transition-all duration-300 ease-in-out;
  }

  .cb__service__icon {
    @apply flex justify-center items-center text-2xl md:text-3xl xl:text-4xl animate-pulse;
  }

  .cb__service__title {
    @apply py-3 md:py-5 md:text-lg xl:text-2xl font-poppins font-bold;
  }

  .cb__service__des {
    @apply md:text-base xl:text-lg font-albert;
  }

  /* -- Services styles  End*/

  /* -- Packages style start */

  .cb__package__content {
    @apply space-y-8;
  }

  .cb__package__title {
    @apply text-base font-semibold pb-4 font-poppins;
  }

  .cb__package__des {
    @apply text-sm font-albert font-normal;
  }

  .cb__package__card {
    @apply cb__border grid lg:grid-cols-4 justify-center items-center text-white/70 hover:text-white dark:text-black/80 transition-all duration-300 ease-in-out;
  }

  .cb__package__subcard {
    @apply p-8 lg:p-4 xl:p-8;
  }

  .cb__package__child__wrapper {
    @apply hidden lg:block;
  }

  .cb__package__price__content__mobile {
    @apply flex pt-8 items-end lg:hidden;
  }

  .cb__package__child {
    @apply border-l-[1px] border-[#0F1A3D] px-8 pt-0 pb-8 lg:pt-4 lg:pb-4 lg:px-4 xl:pt-8 xl:pb-8 xl:px-8;
  }

  .cb__package__features {
    @apply text-sm lg:text-base font-albert font-normal space-y-1 xl:space-y-3;
  }

  .cb__package__icon {
    @apply flex items-center gap-1;
  }

  .cb__package__price__content {
    @apply flex justify-end items-end;
  }

  .cb__package__price {
    @apply text-3xl lg:text-2xl xl:text-3xl font-albert font-semibold;
  }

  .cb__package__duration {
    @apply text-lg font-albert font-light;
  }

  .cb__package__child__center {
    @apply flex justify-start lg:justify-center items-center pl-8 pb-8 lg:pl-0 lg:pb-0;
  }

  /* -- Packages style End */

  /* -- Our team styles Start */

  .cb__team__content {
    @apply flex gap-5;
  }

  .cb__team__member {
    @apply relative mx-5;
  }

  .cb__team__img__wrapper {
    @apply overflow-hidden rounded cursor-move;
  }

  .cb__team__img {
    @apply rounded w-full grayscale hover:grayscale-0 hover:scale-105 transition-all duration-1000 ease-in-out;
  }

  .cb__team__name {
    @apply text-lg md:text-xl font-albert font-semibold py-4 text-white dark:text-black/80 text-center;
  }

  .cb__team__socail {
    @apply absolute bottom-28 left-10 text-xl;
  }

  .cb__team__share {
    @apply bg-[#0F1A3D] dark:bg-black p-3 rounded-full text-white/80 group-hover:hidden transition-all duration-1000 ease-in-out;
  }

  .cb__team__icons__wrapper {
    @apply group-hover:block opacity-0 group-hover:opacity-100 transition-all duration-1000 ease-in-out translate-y-20 group-hover:translate-y-0;
  }

  .cb__team__icons__clild {
    @apply flex gap-3;
  }

  .cb__team__icons {
    @apply text-xl cb__secondaray__bg p-3 mr-2 text-white dark:text-black/80 rounded-full hover:scale-110 transition-all duration-300 ease-in-out;
  }

  /* ------- achivement syles here Start */
  .cb__achivement__wrapper {
    @apply grid grid-cols-2 md:grid-cols-4 justify-evenly gap-5 md:gap-6 lg:gap-7 xl:gap-10 rounded-sm text-white dark:text-black/80 my-10 lg:my-14 xl:my-24;
  }

  .cb__achivement__inner {
    @apply cb__secondaray__bg py-3 px-3 md:py-4 md:px-4 lg:py-6 lg:px-6 xl:py-8 xl:px-8;
  }

  .cb__achivement__number {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-poppins font-bold pb-3 text-transparent dark:text-black/80 bg-clip-text;
  }

  .cb__achivement__icon {
    @apply text-white/70 text-2xl md:text-3xl lg:text-4xl xl:text-5xl hover:text-white dark:text-black/80 animate-bounce-slow;
  }

  /* ------- achivement syles here End */

  /* -- Our team styles End */

  /* -- contact styles Start */

  .cb__contact__content {
    @apply grid lg:grid-cols-[65%_35%] lg:gap-x-14 xl:gap-x-16 text-white dark:text-black/80 items-center;
  }

  .cb__contact__parentWrapper {
    @apply cb__secondaray__bg pt-10 pb-7 px-7 md:pt-14 md:pb-7 md:px-10 lg:px-14 lg:pt-20 lg:pb-10 xl:px-16 xl:pt-20 xl:pb-20;
  }

  .cb__contact__title {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-poppins font-bold pb-7 md:pb-10 lg:pb-10 xl:pb-12;
  }

  .cb__contact__wrapper {
    @apply grid grid-cols-2 justify-center items-center gap-y-10 w-full;
  }

  .cb__contact__label {
    @apply font-albert font-semibold;
  }

  .cb__contact__input {
    @apply bg-transparent border-b-[1px] w-[85%] border-white/50 dark:border-black/50 outline-none pl-1 py-3 text-sm text-white/60 dark:text-black/80 ;
  }

  .cb__contact__btn__wrapper {
    @apply my-10;
  }

  .cb__contact__btn {
    @apply border rounded border-white/50 dark:border-black/50 py-2 px-6 text-xs md:text-base;
  }

  .cb__contact__info {
    @apply grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-y-5 md:gap-y-10 py-10;
  }

  .cb__contact__subTitle {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold font-poppins pb-6 pt-14 md:pt-14 lg:pt-0;
  }

  .cb__contact__map {
    @apply w-full h-60 lg:w-3/4 lg:h-40;
  }

  .cb__contact__child__title {
    @apply text-base md:text-xl font-poppins font-semibold pb-2;
  }

  .cb__contact__child__subTitle {
    @apply text-sm font-poppins;
  }

  /* -- contact styles End */

  /* -- Blogs styles */

  /* -- Testimonial styles start */
  .cb__testtimonial__sec {
    @apply flex flex-col md:flex-row gap-10 sm:items-start md:items-center text-white/70  dark:text-black/80 transition-all duration-300 ease-in-out;
  }

  .cb__textLeft__box {
    @apply sm:w-full md:w-4/12 space-y-4;
  }

  .cb__testimonial__heading {
    @apply text-xl md:text-2xl font-bold font-poppins;
  }

  .cb__testimonial__subHeading {
    @apply text-sm font-normal font-poppins;
  }

  .cb__testimonialBtn__sec {
    @apply flex sm:flex-row md:flex-col lg:flex-row gap-5 sm:items-start lg:items-center pt-7;
  }

  .cb__help__btn {
    @apply flex gap-3 items-center;
  }

  .cb__helpCenter__arrow {
    @apply mt-1 text-xl;
  }

  .cb__testimonialCard__sec {
    @apply w-full md:w-8/12;
  }

  .cb__testimonial__cardBox {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5;
  }

  .cb__testimonial__singleBox {
    @apply cb__border py-3 px-4;
  }

  .cb__testimonial__boxDes {
    @apply font-poppins font-normal text-[12px] md:text-[16px] ;
  }

  .cb__testimonial__usersInfo {
    @apply flex gap-2 items-center mt-7;
  }

  .cb__testimonial__usersImg {
    @apply w-6 h-6 lg:w-10 lg:h-10 rounded-full;
  }

  .cb__testimonial__usersName {
    @apply text-[8px] md:text-[12px] lg:text-sm text-white;
  }

  .cb__users__position__flag {
    @apply flex gap-1 items-center;
  }

  .cb__users__position {
    @apply font-poppins text-[6px] md:text-[8px] lg:text-[12px];
  }

  .cb__testimonial__flag {
    @apply w-2 h-2 md:w-4 md:h-4 rounded-full;
  }



  /* -- Testimonial styles end */

  /* -- Stay Update Start */
  .cb__heading_center {
    @apply text-center;
  }

  .cb__main__sec {
    @apply mb-32;
  }

  .cb__blogs__box {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 mt-10 text-white/70 hover:text-white dark:text-black/80 transition-all duration-300 ease-in-out;
  }

  .cb__staySingle__box {
    @apply px-3 py-3;
  }

  .cb__IconUsers {
    @apply flex gap-4 md:gap-7 mb-7;
  }

  .cb__icon__user {
    @apply flex gap-1;
  }

  .cb__stay__title {
    @apply text-xs md:text-2xl font-poppins font-bold;
  }

  .cb__blogs__des {
    @apply text-[10px] md:text-sm font-poppins;
  }

  .cb__blogs__btn {
    @apply text-sm font-poppins font-bold;
  }

  .cb__TitleDes__space {
    @apply space-y-5;
  }

  /* -- Stay Update End */

  /* -- Footer styles start */

  .cb__footer__space {
    @apply px-[5%] pt-14 md:pt-20 md:px-[8%] lg:pt-24 lg:px-[6%] xl:pt-[100px] xl:px-[5.56%] pb-20;
  }

  .cb__footer__section {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 sm:items-start md:items-center;
  }

  .cb__footerIcon__sec {
    @apply flex gap-4;
  }

  .cb__footer__icons {
    @apply bg-white dark:text-black/80 p-1 text-[25px] rounded-full;
  }

  .cb__footer__img {
    @apply flex gap-4;
  }

  .cb__footer__img__style {
    @apply w-10 h-10 rounded-full;
  }

  .cb__footer__info {
    @apply text-[15px] text-white dark:text-black/80 font-poppins;
  }

  .cb__info__span {
    @apply text-sm text-white/70 dark:text-black/80 font-poppins;
  }

  .cb__foot___info_space {
    @apply space-y-2 py-8 text-left;
  }

  .cb__footerNews__space {
    @apply space-y-4;
  }

  .cb__footerNews__img {
    @apply pt-7;
  }

  .cb__footer__newsletter {
    @apply cb__btn__styles text-white dark:text-black/80 font-poppins text-xl border-white/10 dark:border-black/50 border-[1px] rounded;
  }

  .cb__sing__up {
    @apply text-base text-white/70 dark:text-black/80;
  }

  .cb__footer__input__btn {
    @apply flex items-center;
  }

  .cb__foot__input {
    @apply py-2 px-2 bg-transparent outline-none font-poppins border-white/10 dark:border-black/50 border-[1px] text-white dark:text-black/80 text-sm;
  }

  .cb__foot__subs__btn {
    @apply py-2 px-2 border-white/10 border-[1px] dark:border-black/50 text-white dark:text-black/80 text-sm font-bold;
  }

  .cb__copy__right {
    @apply py-3 text-center cb__secondaray__bg text-white/70 dark:text-black/80 text-xs font-poppins;
  }

  .cb__service__title {
    @apply text-sm md:text-xl text-white dark:text-black/80 font-bold font-poppins mb-5;
  }

  .cb__service__category {
    @apply space-y-4 font-normal text-white dark:text-black/80 text-sm;
  }

  /* -- Footer styles end*/
}
